---
import { getCollection, render } from "astro:content";

//Generate path for every project in collection 'projects' @ src/content/projects
export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map(project => ({
        params: {id: project.id},
        props: { project },
    }));
}

//get content for rendering site
const { project } = Astro.props;
const { Content } = await render(project)

//other imports
import { Image } from "astro:assets"
import { formatDate} from "../../scripts/utils";
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title={`Project — ${project.data.title}`} maxWidth="60em">
    <Header />
    <Image src={project.data.cover} alt={project.data.coverAlt}/>
    <div class="project-header">
        <h1 id="project-title">{project.data.title}</h1>
        <p id="date">{formatDate(project.data.pubDate)}</p>

        {typeof project.data.technologies !== "undefined" && (
                <div class="tech-list">
                    <p>Technologies used: </p>
                    {project.data.technologies.map(technology => (
                            <p class="tech-item">{technology}</p>
                    ))}
                </div>
        )}

        {typeof project.data.links !== "undefined" && (
                <div class="link-list">
                    <p>Links: </p>
                    {project.data.links.map(link => (
                            <a href={link.url} target="_blank">{link.name}</a>
                    ))}
                </div>
        )}

    </div>
    <div class="content">
        <Content />
    </div>
</BaseLayout>

<style>

    .project-header, .content {
        margin: 0.5em;
    }

    img {
        margin-top: 3em;
        width: 105%;
        height: auto;
        border-radius: 20px;
        border-style: solid;
        border-color: var(--primary);
        border-width: 2px;
    }

    .project-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
    }

    #project-title {
        margin-bottom: 0.2em;
    }

    .tech-list, .link-list {
        display: flex;
        align-items: end;
        gap: 0.5em;
    }

    .tech-list p, .link-list p {
        margin: .5em 0 0 0;
    }

    .tech-item {
        color: var(--secondary);
    }

    #date {
        margin: 0;
        color: var(--text-muted);
    }


</style>


