---
import { getCollection } from "astro:content";
import {formatDate, getLatestDateField, hasUpdateDate} from "../../scripts/utils";
import { Image } from "astro:assets"
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

const projects = (await getCollection('projects')).sort(
    (a, b) => getLatestDateField(b) - getLatestDateField(a)
).filter(project => project.data.finished === true);
---

<BaseLayout title="Projects">
    <Header></Header>
    <div class="projects-container">
        {projects.map(project => (
            <a href={`/projects/${project.id}`} class="project-card-anchor-container">
                <div class="project-card">
                    <Image src={project.data.cover} alt={project.data.coverAlt} />
                    <div class="project-data">
                        <h3 class="project-title">{project.data.title}</h3>
                        <p class="date">{formatDate(project.data.pubDate)} {hasUpdateDate(project) && (`(Updated: ${formatDate(project.data.updateDate)})`)}</p>
                        <p class="project-description">{project.data.description}</p>
                    </div>
                </div>
            </a>
        ))}
    </div>
</BaseLayout>

<style>
    #projects-header {
        margin: 0;
    }

    .projects-container {
        max-width: 40em;
        display: flex;
        flex-direction: column;
        gap: var(--gap-small);
        margin: var(--gap-small) auto;
    }

    .project-card-anchor-container {
        color: var(--text);
        text-decoration: none;
        cursor: pointer;
    }

    .project-card {
        overflow: hidden;
        max-width: 40em;
        padding: 0.8em;
        border-radius: var(--rounding);
    }

    .project-card:hover {
        outline: var(--text-muted) dashed 2px;
        animation: anim 150ms 1 forwards;
    }

    .project-card img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .project-data {
        margin: 0.5em;
    }

    .project-title {
        margin-top: 0.2em;
        margin-bottom: 0;
    }

    .date {
        color: var(--text-muted);
        margin: 0;
    }

    .project-description {
        margin-top: var(--gap-tiny);
    }

    @keyframes anim {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.02);
        }
    }
</style>