---
import { getCollection } from "astro:content";
import { formatDate} from "../../scripts/utils";
import { Image } from "astro:assets"
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";

const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Projects">
    <Header></Header>
    <div class="projects-container">
        <h1 id="projects-header">Projects:</h1>
        {projects.map(project => (
            <a href={`/projects/${project.id}`} class="project-card-anchor-container">
                <div class="project-card">
                    <Image src={project.data.cover} alt={project.data.coverAlt} />
                    <div class="project-data">
                        <h3 class="project-title">{project.data.title}</h3>
                        <p class="date">{formatDate(project.data.pubDate)}</p>
                        <p class="project-description">{project.data.description}</p>
                    </div>
                </div>
            </a>
        ))}
    </div>
</BaseLayout>

<style>
    #projects-header {
        margin-bottom: 0;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        align-items: center;
        gap: 3em;
        margin: 0 var(--edge-padding) 0;
    }

    .project-card-anchor-container {
        color: var(--text);
        text-decoration: none;
        cursor: pointer;
    }

    .project-card {
        max-width: 40em;
        padding: 1.3em;
        background-color: var(--bg-light);
        border-radius: var(--rounding);
    }

    .project-card:hover {
        box-shadow-color: var(--primary);
        animation: anim 150ms 1 forwards;
    }

    .project-card img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        border-style: solid var(--primary);
    }

    .project-data {
        margin: 0.5em;
    }

    .project-title {
        margin-top: 0.2em;
        margin-bottom: 0;
    }

    .date {
        color: var(--text-muted);
        margin: 0;
    }

    .project-description {
        margin-top: 1em;
    }

    @keyframes anim {
        0% {
            transform: scale(1);
            background: linear-gradient(0deg, var(--highlight) 0%, var(--bg-light) 100%);
        }
        100% {
            transform: scale(1.02);
            background: linear-gradient(0deg, var(--highlight) 0%, var(--bg-light) 100%);
        }
    }
</style>